.title {
  box-sizing: border-box;

  background: #fafafb;
  border: 1px solid #dddfe8;
  border-radius: 0px;
}

.publishers {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f9f9f9;
  border-radius: 0px;
}

.logo {
  background: url(/assets/logo.svg);
}
